<div class="about-us-container">
  <div class="about-us-wrapper postion-relative">
    <div class="about-us-banner">
      <div class="about-us-banner-text h-100">
        <h1 class="fs-1">
          {{ title }}
        </h1>
        <h2 class="fs-2 text-uppercase">WE provide entertainment</h2>
      </div>
    </div>
  </div>

  <div class="description mt-4">
    <div class="mx-4">
      <h1 class="fs-2">About Us</h1>
      <div class="underline text-warning"></div>
    </div>
    <p class="text-muted text-start px-3 p-lg-4 p-md-3">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis illum dolores officia molestiae quaerat culpa,
      odit provident, voluptatem, est enim ratione? Saepe laudantium laboriosam facilis inventore eaque ex corrupti aut.
    </p>
  </div>

  <div class="testimonials p-lg-5 bg-dark text-white p-md-3 mt-4">
    <h1 class="fs-2 pb-5 text-center">Our Happy Customer</h1>
    <div class="testimonials-list row g-0">
      <div class="testimonial-card col-4 px-4 my-4">
        <div class="testimonial text-center">
          <div class="image mb-2 col-3 mx-auto">
            <img mat-card-image="" src="https://igimages.gumlet.io/tamil/home/prithviraj-rajiniaknth28062022m2.jpg"
              alt="Photo of a Shiba Inu" class="mat-card-image rounded-circle" height="120" width="120" />
          </div>
          <div class="comments">
            <h3 class="fs-3 user">Rajini</h3>
            <div class="text-muted text-start">
              22 years ago in India a seed of an idea was planted, a
              dream was shared. Inception happened. 22 years on, we look back at
              what we've built. Leave it up to us, and we'd love to do it all
              over again. Here's our story
            </div>
          </div>
        </div>
      </div>

      <div class="testimonial-card col-4 px-4 my-4">
        <div class="testimonial text-center">
          <div class="image mb-2 col-3 mx-auto">
            <img mat-card-image="" src="https://cdn.vox-cdn.com/thumbor/FIAhkoPzl1H4xvod8temCqtnrLQ=/1400x1400/filters:format(jpeg)/cdn.vox-cdn.com/uploads/chorus_asset/file/21696224/jbareham_200804_ply1034_0033_potc_johnny.jpg"
              alt="Photo of a Shiba Inu" class="mat-card-image rounded-circle" height="120" width="120" />
          </div>
          <div class="comments">
            <h3 class="fs-3 user">Jack Sparrow</h3>
            <div class="text-muted text-start px-3">
              22 years ago in India a seed of an idea was planted, a
              dream was shared. Inception happened. 22 years on, we look back at
              what we've built. Leave it up to us, and we'd love to do it all
              over again. Here's our story
            </div>
          </div>
        </div>
      </div>
      <div class="testimonial-card col-4 px-4 my-4">
        <div class="testimonial text-center">
          <div class="image mb-2 col-3 mx-auto">
            <img mat-card-image="" src="https://www.giantfreakinrobot.com/wp-content/uploads/2020/10/robert-downey-jr-feature.jpg"
              alt="Photo of a Shiba Inu" class="mat-card-image rounded-circle border-1 border-info" height="120"
              width="120" />
          </div>
          <div class="comments">
            <h3 class="fs-3 user">Tony Stark</h3>
            <div class="text-muted text-start px-3">
              22 years ago in India a seed of an idea was planted, a
              dream was shared. Inception happened. 22 years on, we look back at
              what we've built. Leave it up to us, and we'd love to do it all
              over again. Here's our story
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>